{% extends 'base.html' %}
{% load static %}

{% block title %}My First Dynamic Page{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h1>Hello, {{ username }}!</h1> 
    <p>Welcome to your first dynamic Django page.</p>

    <h3>Your Lucky Numbers Today:</h3>
    <ul>
        {% for number in lucky_numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for course in clist %}
            <li>{{ course }}</li>
        {% endfor %}
    </ul>

        <ul>
        {% for std in student_details %}
        {% if std.name == 'Prince' %}
          <li>{{ std.name }}</li>
        {% else %}
        <li>Princeeeeee</li>
          {% endif %}
        {% endfor %}
    </ul>
{% endblock %}